/*============================================*/
/*  Base*/
/*============================================*/
html {
  font-family: $base-font-family;
  font-size: $px-to-rem;
  font-weight: 400;
  line-height: $base-line-height;
  /* See https://github.com/twbs/bootstrap/issues/18543*/
  -ms-overflow-style: scrollbar;
  /* Changes the default tap highlight to be completely transparent in iOS.*/
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  color: $c-base-font;
  font-size: $base-font-size;
  -webkit-overflow-scrolling: touch;
}

/* By default, `<h1>`-`<h6>` all receive top and bottom margins. We nuke the top*/
/* margin for easier control within type scales as it avoids margin collapsing.*/
h1, h2, h3, h4, h5, h6 {
  margin-bottom: .08rem;
  margin-top: 0;
}

/* Similarly, the top margin on `<p>`s get reset. However, we also reset the*/
/* bottom margin to use `rem` units instead of `em`.*/
p {
  line-height: 2;
  margin-bottom: .16rem;
  margin-top: 0;
}

address {
  font-style: normal;
  line-height: inherit;
  margin-bottom: .16rem;
}

ol,
ul,
dl {
  margin-bottom: .16rem;
  margin-top: 0;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  color: $c-theme-primary;
  font-weight: $dt-font-weight;
}

dd {
  margin-bottom: .08rem;
  margin-left: 0; 
}

blockquote {
  margin: 0 0 .16rem;
}

a {
  color: $c-link;
  text-decoration: none;
  transition: $text-link-transiton;
  &:hover{
    text-decoration: underline;
  }
  &.anchor{
    color: inherit;
    font-size: inherit;
    text-decoration: none;
  }
  &.a-link{
    text-decoration: underline;
  }
  &.a-btn{
    /* @extend .base-title;*/
    font-size: .13rem;
    text-transform: uppercase;
    &:hover,
    &:focus{
      outline: none;
    }
  }
}

svg {
  pointer-events: none;
}

img {
  vertical-align: middle;
}

table {
  background-color: $table-bg;
  border-collapse: collapse;
}

caption {
  caption-side: bottom;
  color: $c-gray;
  padding-bottom: $table-cell-padding;
  padding-top: $table-cell-padding;
  text-align: left;
}

th {
  text-align: left;
}

label {
  display: inline-block;
  margin-bottom: .08rem;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

button:hover{
  cursor: pointer;
}

input,
button,
select,
textarea {
  line-height: inherit;
}

input[type="radio"],
input[type="checkbox"] {
  &:disabled {
    cursor: $cursor-disabled;
  }
}


input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox;
}

textarea {
  resize: vertical;
}

fieldset {
  border: 0;
  margin: 0;
  min-width: 0;
  padding: 0;
}

legend {
  display: block;
  font-size: .24rem;
  line-height: inherit;
  margin-bottom: .08rem;
  padding: 0;
  width: 100%;
}

input[type="search"] {
  -webkit-appearance: none;
}